.btn {
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $default-p-font;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: .4rem;
    color: $color-primary-dark;
    padding: .5rem 1.5rem;
    border-radius: 4rem;
    position: relative;
    animation: moveInBottom 1s ease-out;
    animation-delay: 4.2s;
    animation-fill-mode: both;
    transition: all .2s;
    display: inline-block;
    margin-top: 1rem;

    @include respond(tab-land) {
        padding: 1.5rem 2.5rem;
        font-size: 3rem;
    }

    @include respond(tab-port) {
        padding: 1.5rem 2.5rem;
        font-size: 2.5rem;
    }


    @include respond(phone) {
        padding: .8rem 1.5rem;
        font-size: 2rem;
    }
}

    &:hover {
        transform: translateY(1px);
        box-shadow: 0 1rem 2rem rgba($color-primary-dark, .2);
        /* X direction, Y direction, blur, color */
        &::after {
            transform: scaleY(1.3);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
        // color variable in rgba works in sass only
    }
    
    &--white {
        background-color: $color-secondary;
        // color: $color-secondary;

        &::after {
            background-color: $color-grey-light;
        }
    }
    
    &::after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
}

#project-btn {
    animation-delay: 0s;
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px; 
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}