.row {
    max-width: $grid-width;
    margin: 0 auto; 

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-2 {
        // background-color: #E4002B;
        height: 95vh;
        border-radius: 4px;

        &__icon {
            font-size: 3rem;
            // margin-bottom: .5rem;
            display: inline-block;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}