*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }

}

body {
    box-sizing: border-box;
    // padding-left: 3rem;
    background: $color-primary;

}

.top-layer {
    background-color: #1a1a1a;
}

hr {
    background-color: $color-watermelon;
    margin: 1rem 0;
}

a {
    color: $color-secondary;
    text-decoration: none;
    cursor: pointer;
}
