*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-grey-light;
    border-top: 1px solid $color-primary;
    padding: 3rem;
}

hr {
    height: 1px;
    background-color: $color-primary;
    margin: 1rem;
}