@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(0deg); }
  60% {
    transform: rotate(180deg); }
  80% {
    transform: translateX(1rem) rotate(180deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f4f5;
  border-top: 1px solid #B1D600;
  padding: 3rem; }

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  color: #373A36;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 20rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInTop;
    animation-duration: 1s; }
  .heading-primary--sub-1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    color: #84BD00;
    margin-bottom: 5%;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
  .heading-primary--sub-2 {
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1.75rem;
    animation: moveInBottom 1.5s ease-out;
    animation-delay: 1.2s;
    animation-fill-mode: both; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-2 {
    height: 95vh;
    border-radius: 4px; }
    .row .col-2__icon {
      font-size: 3rem;
      display: inline-block;
      background-image: linear-gradient(to right, #D4EC8E, #84BD00);
      -webkit-background-clip: text;
      color: transparent; }

.header {
  height: 95vh; }
  .header__text-box {
    top: 40%;
    left: 50%;
    transform: translate(-1%, -10%); }
