@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(0deg); }
  60% {
    transform: rotate(180deg); }
  80% {
    transform: translateX(1rem) rotate(180deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #B1D600; }

.top-layer {
  background-color: #1a1a1a; }

hr {
  background-color: #F8485E;
  margin: 1rem 0; }

a {
  color: #373A36;
  text-decoration: none; }

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  color: #f7f4f5;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 7rem; }
  .heading-primary--main {
    display: block;
    font-size: 15rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInTop;
    animation-duration: 1s; }
  .heading-primary--sub-1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    color: #70a000;
    margin-bottom: 2rem;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
  .heading-primary--sub-2 {
    display: block;
    color: #f7f4f5;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1.50rem;
    animation: moveInBottom 1.5s ease-out;
    animation-delay: 1.2s;
    animation-fill-mode: both; }
  .heading-primary--linguist {
    font-family: 'Bad Script', cursive;
    font-size: 1.3rem;
    margin: .8rem 0; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.skills-icon {
  width: 10%; }

.skills-blinker {
  width: 4rem;
  margin-left: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: .4rem;
  color: #70a000;
  padding: 1rem 2rem;
  border-radius: 4rem;
  position: relative;
  display: inline-block;
  margin-top: 1rem; }

.btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1rem 2rem rgba(112, 160, 0, 0.2);
  /* X direction, Y direction, blur, color */ }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #f7f4f5;
  color: #373A36; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #B1D600;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #B1D600;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #B1D600;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative;
  margin-bottom: 22rem; }
  .composition__photo {
    width: 25%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    animation: moveInRight 1s ease-out; }
    .composition__photo--p1 {
      left: 0;
      top: 6rem;
      animation-delay: 3.5s;
      animation-fill-mode: both; }
    .composition__photo--p2 {
      left: 15rem;
      top: 6rem;
      animation-delay: 3.6s;
      animation-fill-mode: both; }
    .composition__photo--p3 {
      left: 15%;
      top: 0;
      animation-delay: 3.7s;
      animation-fill-mode: both; }
    .composition__photo--p4 {
      left: 42.5%;
      top: 0;
      animation-delay: 3.8s;
      animation-fill-mode: both; }
    .composition__photo--p5 {
      left: 30rem;
      top: 6rem;
      animation-delay: 3.9s;
      animation-fill-mode: both; }
    .composition__photo--p6 {
      left: 70%;
      top: 0;
      animation-delay: 4s;
      animation-fill-mode: both; }
    .composition__photo:hover {
      outline: 0.3rem solid #B1D600;
      transform: scale(2.05) translateY(-2rem);
      box-shadow: 0 2.5rem 3.5rem rgba(0, 0, 0, 0.5);
      z-index: 30; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: #181717; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #D4EC8E, #70a000); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #D4EC8E, #70a000); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #D4EC8E, #70a000); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #D4EC8E, #70a000); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url("../../../assets/helpfull.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url("../../../assets/tisktask.jpg");
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)), url("../../../assets/popart.jpg"); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url("../../../assets/doable.gif");
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: .001rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(112, 160, 0, 0.85), rgba(112, 160, 0, 0.85)); }
  .card__details {
    color: #373A36; }
    .card__details--helpfull {
      width: 100%;
      height: 100%; }
    .card__details--description {
      color: #bebebe;
      padding: 3rem;
      text-align: center;
      font-family: "Source Code Pro", monospace;
      font-size: 1.3rem;
      text-transform: uppercase; }
      .card__details--description-technologies {
        color: #70a000; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eeeeee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__gif {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; } }

.about {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  background-color: #181717;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  transform: skewX(-12deg); }
  .about__shape {
    width: 30rem;
    height: 30rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%); }
  .about__img {
    height: 100%;
    transform: translateX(-1rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .5s; }
  .about__text {
    transform: skewX(12deg);
    color: #bebebe;
    font-family: "DM Sans", sans-serif; }
  .about:hover .about__img {
    transform: translateX(0.3rem) scale(1.1);
    filter: hue-rotate(100deg); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -4000;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-12 {
    width: calc((100% - 3 * 6rem) / 12); }
  .row .col-11-of-12 {
    width: calc((100% - 3 * 6rem) / 11); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(29, 29, 29, 0.5), #1d1d1d), url("../../../assets/v-5.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__text-box {
    text-align: left; }
  .header__right-menu {
    height: 95vh;
    border-radius: 8px;
    animation: moveInRight 2s ease-out;
    animation-delay: 1.4s;
    animation-fill-mode: both; }
    .header__right-menu--items {
      margin-left: 2rem; }
    .header__right-menu--technologies {
      margin-top: 1rem;
      animation: moveInRight 1s ease-out;
      animation-delay: 3s;
      animation-fill-mode: both;
      font-size: 1.8rem;
      font-family: "Source Code Pro", monospace;
      font-weight: bolder; }

.side-nav {
  height: 100%;
  width: 3.5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #B1D600;
  overflow-x: hidden;
  padding: 1.5rem; }
  .side-nav--items {
    display: flex;
    flex-direction: column;
    color: #373A36;
    font-size: 1.6rem;
    position: -webkit-sticky;
    position: sticky;
    align-content: center;
    position: relative; }
    .side-nav--items--item {
      align-self: center; }

#logo {
  position: absolute;
  top: -1.5rem; }

.section__work {
  padding: 3rem;
  background-color: #1d1d1d;
  height: 100vh; }
  .section__work--title {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
    color: #fff;
    padding: 1rem 1.5rem;
    background-color: #70a000; }

.section-about {
  height: 100vh;
  position: relative;
  background-color: #1d1d1d; }
