@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(0deg); }
  60% {
    transform: rotate(180deg); }
  80% {
    transform: translateX(1rem) rotate(180deg); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f4f5;
  border-top: 1px solid #B1D600;
  padding: 3rem; }

hr {
  height: 1px;
  background-color: #B1D600;
  margin: 1rem; }

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.paragraph {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  color: #373A36;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 20rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInTop;
    animation-duration: 1s; }
  .heading-primary--sub-1 {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    color: #84BD00;
    margin-bottom: 2rem;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
  .heading-primary--sub-2 {
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 1.75rem;
    animation: moveInBottom 1.5s ease-out;
    animation-delay: 1.2s;
    animation-fill-mode: both; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.skills-icon {
  width: 10%; }

.skills-blinker {
  width: 4rem;
  margin-left: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: .5rem;
  transition: all .2s;
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  width: 90%;
  color: #B1D600; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* X direction, Y direction, blur, color */ }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #373A36;
  color: #373A36; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #B1D600;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #B1D600;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #B1D600;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.contact {
  font-size: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-decoration: none; }

.email:active i, .github:active i, .linkedin:active i {
  color: #373A36; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #B1D600;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 3.5rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh; }
  .header__text-box {
    text-align: left; }
  .header__right-menu {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(247, 244, 245, 0.3), #f7f4f5), url("../../../assets/m.JPG");
    border-radius: 5px;
    animation: moveInRight 2s ease-out;
    animation-delay: 1.4s;
    animation-fill-mode: both; }
    .header__right-menu--items {
      margin-left: 2rem; }
    .header__right-menu--technologies {
      margin-top: 1rem;
      animation: moveInRight 1s ease-out;
      animation-delay: 3s;
      animation-fill-mode: both;
      color: #373A36;
      font-size: 1.8rem;
      font-family: "Source Code Pro", monospace;
      font-weight: bolder; }
