.header {
    height: 100vh;
    background-image:linear-gradient(to right bottom,
    rgba(#1d1d1d, 0.5), 
    rgba(#1d1d1d, 1)),
    url('../../../assets/v-5.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

        @include respond(tab-land) {
            align-self: flex-start;
            padding-left: 8rem;
        }

        @include respond(tab-port) {
            margin-left: 3rem;
        }

        // @include respond(phone) {
        //     height: 100vh;
        // }

        // @include respond(big-desktop) {
        // }

    &__text-box {
        text-align: left;

    }

    &__right-menu {
        height: 95vh;
        // background-image:linear-gradient(to right bottom,
        // rgba($color-grey-light, 0.1), 
        // rgba($color-grey-light, 4)),
        // url('../../../assets/m.JPG');
        border-radius: 8px;
        animation: moveInRight 2s ease-out;
        animation-delay: 1.4s;
        animation-fill-mode: both;

        &--items {
            // margin-left: 2rem;

            @include respond(tab-land) {
                margin-left: 0;
            }
        }

        &--technologies {
            margin-top: 1rem;
            animation: moveInRight 1s ease-out;
            animation-delay: 3s;
            animation-fill-mode: both;
            // color: $color-grey-dark;
            font-size: 1.8rem;
            font-family: $code-font;
            font-weight: bolder;
        }
    }
}

.side-nav {
    height: 100%;
    width: 4rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-primary;
    overflow-x: hidden;
    padding: 1.5rem;

    @include respond(tab-land) {
        width: 8rem;
    }

    @include respond(phone) {
        width: 5rem;
    }

    &--items {
        display: flex;
        flex-direction: column;
        color: $color-secondary;
        font-size: 1.7rem;
        position: relative;

        @include respond(tab-land) {
            font-size: 3.5rem;
        }

        @include respond(phone) {
            font-size: 4rem;
        }

        &--item {
            align-self: center;
            cursor: pointer;
        }
    }
}

.section__work {
    padding: 3rem;
    background-color: $color-background;
    height: 100vh;
        
        @include respond(tab-land) {
            height: 100vh;
    }
   


    &--title {
        font-size: 3rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin: 3rem 0;
        color: $color-white;
        padding: 1rem 1.5rem;
        background-color: $color-primary-dark;

    }

}

.section-about {
    height: 100vh;
    position: relative;
    background-color: $color-background;
}

.section__footer {
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: $color-primary;
    text-align: center;
    padding-top: 2rem;
}

#logo {
    position: absolute;
    top: -1.4rem;
    cursor: pointer;

    @include respond(tab-land) {
        width: 8rem !important; 
        top: -.8rem;
    }

    @include respond(phone) {
        width: 6rem !important; 
        top: -1.5rem;
    }
  
}

#email {
    margin-top: 29rem;

    @include respond(tab-land) {
        margin-top: 65rem;
    }
}

#footer-icon {
    font-size: 2rem;
    color: $color-secondary;
    margin: .5rem .5rem;
}

#footer-text {
    font-size: 1.5rem;
    color: $color-grey-dark;
    font-family: $default-p-font;
    font-weight: 900;
    top: -4rem;
}