.contact {
    font-size: 1.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-decoration: none;
}

.email, .github, .linkedin {
    &:active {
        i {
            color: $color-grey-dark;
        }
    }
}
