.composition {
    position: relative;
    margin-bottom: 22rem;

    &__photo {
        width: 25%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem ;
        animation: moveInRight 1s ease-out;


        &--p1 {
            left: 0;
            top: 6rem;
            animation-delay: 3.5s;
            animation-fill-mode: both;

        }
        &--p2 {
            left: 15rem;
            top: 6rem;
            animation-delay: 3.6s;
            animation-fill-mode: both;
        }
        &--p3 {
            left: 15%;
            top: 0;
            animation-delay: 3.7s;
            animation-fill-mode: both;
        }
        &--p4 {
            left: 42.5%;
            top: 0;
            animation-delay: 3.8s;
            animation-fill-mode: both;
        }
        &--p5 {
            left: 30rem;
            top: 6rem;
            animation-delay: 3.9s;
            animation-fill-mode: both;
        }
        &--p6 {
            left: 70%;
            top: 0;
            animation-delay: 4s;
            animation-fill-mode: both;
        }

        &:hover {
            outline: .3rem solid $color-primary;
            transform: scale(2.05) translateY(-2rem);
            box-shadow: 0 2.5rem 3.5rem rgba($color-black, .5);
            z-index: 30;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}