//COLORS
$color-primary: #B1D600;
$color-primary-light: #D4EC8E;
$color-primary-dark: rgb(112, 160, 0);
$color-secondary: #603149;
$color-grey: rgb(190, 190, 190);
$color-grey-light: #f7f4f5;
$color-grey-dark: #373A36;
$color-white: #fff;
$color-black: #000;
$color-watermelon: #F8485E;
$color-background: #1d1d1d;
$color-logo: #77763d;

//FONTS
$default-font-size: 1.6rem;
$default-p-font: 'DM Sans', sans-serif;
$code-font: 'Source Code Pro', monospace;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;

