//COLORS
$color-primary: #B1D600;
$color-primary-light: #D4EC8E;
$color-primary-dark: #84BD00;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;
// $default-p-font: 'DM Sans', sans-serif;
$default-p-font: 'Source Code Pro', monospace;